.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--darkest);
    width: 100vw;    

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;   
        width: 90%;
        max-width: 600px;     
        height: 40px;
        padding: 10px 14px 0 14px;
        color: var(--font-header);
        font-weight: 700;
        font-size: 18px;

        mat-icon {
            &:hover {
                color: var(--lightest);
            }
        }
    }

    .today {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        max-width: 600px;
        margin-bottom: 18px;
        font-size: 14px;
        font-weight: 600;
        color: var(--font-header);
    }

    .members {
        background-color: var(--mid);
        text-align: center;
        font-size: 12px;
        padding: 8px 0 8px 0;
        font-weight: 700;
        width: 100%;
        color: var(--font-header);
    }
}