.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--darkest);
    width: 100vw;

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;   
        width: 90%;     
        height: 64px;
        padding: 0 14px;
        color: white;
        font-weight: 500;
        font-size: 16px;
    }

    .today {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 16px;
        font-size: 12px;
        font-weight: 600;
        color: var(--lightest);
    }
}