.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--darkest);
    width: 100vw;

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;   
        width: 90%;     
        height: 40px;
        padding: 10px 14px 0 14px;
        color: black;
        font-weight: 700;
        font-size: 16px;
    }

    .today {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 90%;
        margin-bottom: 18px;
        font-size: 12px;
        font-weight: 600;
        color: black;
    }

    .members {
        font-size: 12px;
        padding-bottom: 8px;
        font-weight: 700;
        color: black;
    }
}