.container {
    display: flex;
    flex-direction: column;
    align-items: center;        
    width: 100%;
    height: 100%;
    background-color: var(--background);
    overflow-x: hidden;

    .members {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        background-color: var(--mid);
        color: var(--font-expenses);
        font-size: 14px;
        font-weight: 600;
        padding: 4px 0 6px 0;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;  
        padding: 10px 0 40px 0;
        width: 80vw;
        height: 100%;    
        min-height: 100vh;   

        .expenses {
            display: flex;
            justify-content: center;
            margin: 20px 0;
            width: 100%;

            .month-expenses {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                padding: 0 14px;
                border-radius: 8px;
                font-size: 15px;
                font-weight: 600;
                width: auto;
                height: auto;
                background-color: var(--mid);    
                color: var(--font-expenses);
                gap: 4px; 
            }

            .add-new-bill {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-left: 20px;
                color: var(--darkest);

                p {
                    font-size: 12px;
                    font-weight: 600;
                    margin-bottom: 6px;
                    text-align: center;
                }
                
                mat-icon {
                font-size: 50px;
                width: auto;
                height: auto;
                }        
            }
        }

        .bills-amount {
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            width: 80vw;
            max-width: 500px;
            padding: 4px;
            font-size: 16px;
            font-weight: 600;

            p {
                margin-left: 4px;
            }
        }

        .filter-and-refresh {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 80vw;
            max-width: 500px;

            p {
                font-size: 14px;
                font-weight: 600;
                padding-left: 5px;
                color: var(--font);                
            }

            .bills-filter {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: auto;        
            }

            .refresh {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .no-bills {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding-top: 40px;
            font-weight: 600;
            gap: 20px;
            color: var(--darkest);

            mat-icon {
                width: 40px;
                height: 40px;
                font-size: 40px;
            }
        }

        .content-header {
            display: flex;
            align-items: flex-end;
            margin-top: 6px;

            .selected-month {
                color: var(--font);
                font-weight: 700;
                font-size: 26px;
            }

            mat-icon {
                margin-left: 10px;
                color: var(--font);

                &:hover {
                    cursor: pointer;
                }
            }     
            
            input {
                padding: 8px;
                outline: #d3d3d3 solid 1px;
            }
        }

        .month-earnings {            
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
            height: 34px;
            width: 100vw;
            padding: 12px 0;
            background-color: var(--darkest);

            p {
                font-size: 18px;
                font-weight: 600; 
                color: #fafafa;               
            }

            input {
                padding: 8px;
                max-width: 100px;
            }

            mat-icon {
                margin-left: 10px;
                color: var(--lightest);
            }
        }

        .cards {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    .options-container {
        display: flex;
        flex-direction: column;
        align-items: center;  
        padding: 10px 0;
        width: 80vw;
        height: 100%;    
        min-height: 100vh;         
        
        .options-title {            
            color: var(--font);
            font-weight: 700;
            font-size: 26px; 
            padding: 6px;
            margin-bottom: 10px;
        }

        .options-box {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start; 
            gap: 10px;
            background-color: var(--mid); 
            color: var(--font-options-box);
            width: 85vw;
            max-width: 500px;
            height: auto;
            padding: 20px 14px;  
            border-radius: 8px;

            .options-name {   
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .name-area {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start; 
                    width: 100%;
                    height: auto;                    
                    color: var(--font-options-box);

                    .name-change {
                        font-weight: 600;
                    }
                    
                    .current-name {
                        font-size: 16px;                    
                        margin-left: 10px;
                    }
                    
                    .input-edit-name {
                        font-size: 14px;
                        margin-left: 10px;
                        width: 100px;
                        outline: #d3d3d3 solid 1px;
                    }

                    mat-icon {
                        color: var(--darkest);
                        margin-left: 10px;
                    } 
                }

                .name-help {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin-top: 2px; 
                    width: 100%;
                    height: auto;                   
                    font-size: 13px;
                    color: var(--font-options-box);
                }
            } 
            
            .theme-selector {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .theme-area {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    width: 100%;
                    height: auto; 
                    margin-top: 10px;
                    color: var(--font-options-box);

                    p {
                        font-weight: 600;
                    }

                    .selector {
                        display: flex;
                        margin-left: 10px;
                        width: 100%;
                        width: 100px;
                        padding: 4px 4px 4px 6px;
                        border: 1px solid gray;
                        border-radius: 5px;
                        font-size: 14px;
                        background-color: #fafafa; 
                        
                        &::after {
                            color: var(--darkest);
                            content: "▼";
                            padding-right: 6px;
                        }
                    }
                }
                
                .theme-help {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin-top: 2px; 
                    width: 100%;
                    height: auto;                   
                    font-size: 13px;
                    color: var(--font-options-box);
                }
            }
            
            .invitation {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .invitation-area {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    width: auto;
                    height: auto; 
                    margin-top: 10px;
                    color: var(--font-options-box);

                    p {
                        font-weight: 600;
                    }

                    input {
                        padding: 4px 4px 4px 6px;
                        font-size: 14px;
                        margin-left: 10px;
                        width: 120px;
                        border: 1px solid gray;                    
                    }

                    mat-icon {
                        color: var(--darkest);
                        margin-left: 10px;
                    }
                }

                .invitation-help {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin-top: 2px; 
                    width: 100%;
                    height: auto;                   
                    font-size: 13px;
                    color: var(--font-options-box);
                }

                .invitation-error {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin-top: 2px; 
                    padding: 6px;
                    height: auto;                   
                    font-size: 13px;
                    border-radius: 4px;
                    background-color: rgba(#cf0023,1);
                    color: white;
                }

                .invitation-success {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin-top: 2px; 
                    width: 100%;
                    height: auto;                   
                    font-size: 13px;
                    background-color: var(--darkest);
                    color: var(--font-header);
                }
            }

            .change-database {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .change-area {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    width: 100%;
                    height: auto; 
                    margin-top: 10px;
                    color: var(--font-options-box);

                    p {
                        font-weight: 600;
                    }

                    .change-selector {
                        display: flex;
                        margin-left: 10px;
                        width: 100px;                        
                        padding: 4px 4px 4px 6px;
                        border: 1px solid gray;
                        border-radius: 5px;
                        font-size: 14px;
                        background-color: #fafafa; 
                        
                        &::after {
                            color: var(--darkest);
                            content: "▼";
                            padding-right: 6px;
                        } 
                        
                        option {
                            color: black;
                        }
                    }

                    mat-icon {
                        color: var(--darkest);
                        margin-left: 8px;
                    }
                }

                .change-help {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin-top: 2px; 
                    width: 100%;
                    height: auto;                   
                    font-size: 13px;
                    color: var(--font-options-box);
                }

                .current-owner {
                    color: var(--font-options-box);
                    font-weight: 500;
                    font-size: 14px;
                    margin-left: 6px;
                }
            }
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 20px;
            width: auto;
            height: auto;
            font-size: 15px;
            font-weight: 600;
            color: var(--error-red);

            mat-icon {
                margin-left: 15px;
            }
        }
    }

    .loading-info {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;
        max-width: 300px;
        font-size: 30px;
    }

    .loader {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        margin: 0 auto;
        padding-top: 100px;
    }
}

app-footer {
    left: 0;
    bottom: 0;
    position: fixed;
}