<div class="container" [ngClass]="theme">
    <app-header
    [theme]="theme" [weekDay]="weekDay" [day]="day" [month]="month" [year]="year"
    [isSettings]="isSettings"
    (settingsEmitter)="goToSettings()"
    ></app-header>
    <div class="members">
        <p *ngIf="!isLoading">Conta selecionada: <strong>{{ dbOwner }}</strong></p>
        <p *ngIf="isLoading">...</p>
    </div>
    <div class="content" *ngIf="!isLoading && !isSettings">
        <div class="content-header">
            <div *ngIf="selectedDate === ''" class="selected-month"></div>
            <div *ngIf="!isEditingMonth" class="selected-month">{{ selectedDate }}</div>
            <input id="input-month" *ngIf="isEditingMonth" type="month" [(ngModel)]="monthYear">
            <div class="edit-save" (click)="editMonth()">        
                <mat-icon *ngIf="!isEditingMonth">date_range</mat-icon>
                <mat-icon *ngIf="isEditingMonth">save</mat-icon>
            </div>
        </div>
        <div class="expenses">
            <div class="month-expenses">
                <div class="paid-total">Total Pago: {{ valueCalc('paid') }}</div>
                <div class="unpaid-total">Em Aberto: {{ valueCalc('unpaid') }}</div>
            </div>
            <div class="add-new-bill">
                <p>Nova Conta</p>
                <mat-icon (click)="createNewBill()">note_add</mat-icon>
            </div> 
        </div>
        <div class="filter-and-refresh" *ngIf="allBills.length">
            <div class="bills-filter">
                <mat-icon (click)="filterBills()">view_headline</mat-icon>
                <p (click)="filterBills()">exibir: {{ filterName }}</p>
            </div>
            <div class="refresh" (click)="refreshBills()">
                <mat-icon>sync</mat-icon>
                <p>sincronizar</p>
            </div>
        </div>
        <div class="no-bills" *ngIf="!allBills.length">
            <mat-icon>error_outline</mat-icon>
            Não há contas cadastradas<br>para o mês selecionado.
        </div>
        <div class="cards" *ngIf="selectedDate !== ''">
            <app-bill-card
                *ngFor="let bill of bills; let i = index"
                [billData]="bill"
                [today]="today"
                [selectedPeriod]="monthYear"
                [selectedDb]="selectedDatabase"
                [paidBy]="userName"
                (billPaidEmitter)="checkPaidBills()"
                (deleteEmitter)="removeBill(i)">
            </app-bill-card>
        </div>       
    </div>
    <div class="options-container" *ngIf="!isLoading && isSettings">
        <div class="options-title">Opções</div>
        <div class="options-box">
            <div class="options-name">
                <div class="name-area">
                    <p class="name-change" *ngIf="!isEditingName">Alterar Nome:</p>
                    <p class="name-change" *ngIf="isEditingName">Novo Nome:</p>
                    <p class="current-name" *ngIf="!isEditingName">{{ userName }}</p>
                    <input class="input-edit-name" type="text" *ngIf="isEditingName" [(ngModel)]="newName" minlength="3" maxlength="15" placeholder="{{userName}}">
                    <mat-icon class="icon-edit" *ngIf="!isEditingName" (click)="isEditingName = true">edit</mat-icon>
                    <mat-icon class="icon-edit" *ngIf="isEditingName" (click)="saveName()">save</mat-icon>
                </div>
                <div class="name-help">
                    Altere o nome de exibição. Também altera o nome da conta.
                </div>
            </div>          
            <div class="theme-selector">
                <div class="theme-area">
                    <p>Tema:</p>
                    <div class="selector">
                        <select #themeSelector (change)="getValue(themeSelector.value)" [(ngModel)]="this.theme">
                            <option value="default" >Padrão</option>
                            <option value="warm"    >Quente</option>
                            <option value="ice"     >Frio</option>
                            <option value="money"   >Dinheiro</option>
                            <option value="cute"    >Doce</option>
                            <option value="grass"   >Natureza</option>
                            <option value="business">Negócios</option>
                            <option value="cafe"    >Café</option>
                            <option value="violet"  >Violeta</option>
                        </select>
                    </div>
                </div>
                <div class="theme-help">
                    Altera o esquema de cores.
                </div>
            </div>
            <div class="invitation">
                <div class="invitation-area">
                    <p>Convidar:</p>
                    <input class="input-invite-email" type="text" (click)="clearInviteInput()" [(ngModel)]="inviteEmail" placeholder="email@mail.com">
                    <mat-icon (click)="checkEmailRegistration(inviteEmail)">send</mat-icon>
                </div>
                <div class="invitation-help" *ngIf="!invitationError && !invitationSuccess">
                    Insira o email de um usuário já cadastrado para compartilhar sua conta.
                </div>
                <div class="invitation-error" *ngIf="invitationError && !invitationSuccess">
                    {{ inviteErrorMessage }}
                </div>  
                <div class="invitation-success" *ngIf="!invitationError && invitationSuccess">
                    Usuário convidado com sucesso. Agora ele(a) poderá acessar o seu banco de dados.
                </div>                
            </div>
            <div class="change-database">
                <div class="change-area">
                    <p>Conta:</p>
                    <div class="change-selector">
                        <select #changeDatabase (change)="changeMyDatabase(changeDatabase.value)" [(ngModel)]="selectedDatabase">
                            <option selected disabled>Escolha...</option>
                            <option value="{{myDBs[i]}}" *ngFor="let db of myDBs; let i = index">
                                <p>Conta {{i+1}}</p>
                              </option>
                        </select>
                    </div>
                    <p class="current-owner">{{': ' + dbOwner}}</p>
                    <mat-icon (click)="saveUserInfo()">save</mat-icon>
                </div>
                <div class="change-help">
                    Alterne entre as contas que você tem acesso.
                </div>
            </div>
            <div class="exit-app">
                <a (click)="logout()">Sair da Conta<mat-icon>exit_to_app</mat-icon></a>
            </div>
        </div>
        <div class="changelog-container">
            <p class="changelog-title">Changelog (ver. 1.01)</p>
            <div class="changelog-change" *ngFor="let change of changelogs">
                <p class="changelog-text">{{ change }}</p>
            </div>            
        </div>
    </div>
    <div class="loader" *ngIf="isLoading"><app-loader></app-loader>   
    </div>
<app-footer [theme]="theme" *ngIf="!isLoading"></app-footer>
