<div class="container">
    <app-header [weekDay]="weekDay" [day]="day" [month]="month" [year]="year"></app-header>
    <div class="content">        
        <div class="content-header">
            <div *ngIf="!isEditingMonth" class="selected-month">{{ concatMonthYear }}</div>
            <input *ngIf="isEditingMonth" type="month" [(ngModel)]="monthYear">
            <div class="edit-save" (click)="editMonth()">        
                <mat-icon *ngIf="!isEditingMonth">edit</mat-icon>
                <mat-icon *ngIf="isEditingMonth">save</mat-icon>
            </div>
        </div>
        <div class="expenses">
            <div class="month-expenses">
                <div class="paid-total">Total pago: R{{ valueCalc('paid') | currency }}</div>
                <div class="unpaid-total">Saldo devedor: R{{ valueCalc('unpaid') | currency }}</div>
            </div>
            <div class="add-new-bill">
                <mat-icon (click)="createNewBill()">note_add</mat-icon>
            </div> 
        </div>
        <div class="bills-amount">
            <mat-icon>assignment</mat-icon>            
            <p>Contas:{{ ' ' + bills.length + ' / '}}<p>
            <mat-icon>assignment_turned_in</mat-icon> 
            <p>Pagas:{{ ' ' + paidBills.length }}</p>
        </div>
        <div class="no-bills" *ngIf="!bills.length">Não há contas cadastradas para este mês.</div>
        <div class="cards" >
            <app-bill-card
                *ngFor="let bill of bills; let i = index"
                [billData]="bill"
                [today]="today"
                (billPaidEmitter)="checkPaidBills()"
                (deleteEmitter)="removeBill(i)">
            </app-bill-card>
        </div>       
    </div>
    <app-footer></app-footer>
</div>
