<div class="container">
    <div class="main">
        <app-loader *ngIf="isLoading"></app-loader>
        <div *ngIf="isLoginScreen && !isResettingPassword && !isLoading" class="login-box">
            <div class="login-title">Entrar</div>
            <form class="login-form" [formGroup]="formLogin">
                <label for="emailLogin">email</label>
                <input (click)="hasError = false" class="emailLogin" id="emailLogin" formControlName="emailLogin" class="emailLogin" type="text" #emailLogin>
                <label for="passwordLogin">senha</label>
                <input (click)="hasError = false" id="passwordLogin" class="passwordLogin" formControlName="passwordLogin" type="password" #passwordLogin>
                <button type="button" class="btn-enter" [class.disabled]="!formLogin.valid" (click)="onLogin(emailLogin.value, passwordLogin.value)">ENTRAR</button>
                </form>
            <a class="register" (click)="loginRegister()">Não tenho uma conta {{ forwardArrows }}</a>
            <div class="forgot-container">
                <mat-icon>info</mat-icon>
                <a class="forgot-password-link" (click)="isResettingPassword = true">Esqueci minha senha</a>
            </div>
            <div *ngIf="hasError" class="error"> {{ errorMessage }} </div>
        </div>
        <div *ngIf="!isLoginScreen && !isResettingPassword && !isLoading" class="register-box">
            <div class="register-title">Criar Conta</div>
            <form class="register-form" [formGroup]="formRegister">
                <label for="nameRegister">nome</label>
                <input (click)="hasError = false" class="nameRegister" formControlName="nameRegister" type="text" [maxlength]="15" #nameRegister>
                <label for="emailRegister">email</label>
                <input (click)="hasError = false" class="emailRegister" formControlName="emailRegister" type="text" #emailRegister>
                <label for="passwordRegister">senha</label>
                <input (click)="hasError = false" class="passwordRegister" formControlName="passwordRegister" type="password" #passwordRegister>
                <button type="button" class="btn-register"
                [class.disabled]="!formRegister.valid"
                (click)="onRegister(nameRegister.value, emailRegister.value, passwordRegister.value)"
                >CRIAR CONTA</button>
            </form>
            <a class="login" (click)="loginRegister()">{{ backArrows }} Já tenho uma conta</a>
            <div *ngIf="hasError" class="error"> {{ errorMessage }} </div>
        </div>
        <div *ngIf="isResettingPassword && !isLoading" class="password-reset-box">
            <div class="reset-title">Recuperar Senha</div>
            <label for="emailReset">email cadastrado</label>
            <input (click)="hasError = false" class="emailReset" id="emailReset" type="text" #emailReset>
            <button type="button" class="btn-send" (click)="sendResetPasswordLink(emailReset.value)">ENVIAR</button>
            <a class="return-login" (click)="isResettingPassword = false">{{ backArrows }} voltar</a>
            <div *ngIf="hasError" class="error"> {{ errorMessage }} </div>
        </div>
    </div>
</div>
