.bill-card {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80vw;
    max-width: 500px;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--card-not-paid);

    .lock {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        color: white;
        margin-bottom: 4px;

        &.bill-editing {
            color: black;
        }

        p {            
            font-size: 12px;
            padding-left: 6px;
        }
    }

    input {
        outline: 1px;
        border-radius: 5px;
        padding: 3px;
        border-width: 2px;
    }

    &.bill-paid  {
        background-color: var(--card-paid);
    }

    &.bill-editing {
        background-color: white;
        box-shadow: 0px 4px 0px 0px rgba(#000000, 0.2);
    }

    .bill-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: fit-content;
        align-items: center;

        .bill-value {
            color: white;
            font-weight: 700;
            font-size: 22px;
            max-width: 200px;
        }
        .value-input {
            color: black;
            font-weight: 700;
            font-size: 18px;
            width: 100px;                   
        }

        .bill-date {
            font-size: 14px;  
            color: var(--bill-date-unpaid);                  

            &.date-paid {
                color: var(--bill-date-paid);
            }

            &.date-expired {
                color: var(--error-red);
            }
        }

        .editing-date {
            display: flex;
            align-items: center;

            label {
                color: black;
                padding-right: 10px;
            }
            .date-input {
                color: black;
                font-size: 14px;
                width: 120px;             
            }
        }
    }

    .bill-middle {
        margin-top: 4px;
        display: flex;
        height: fit-content;
        width: 100%;

        .bill-name {
            padding-top: 4px;
            font-size: 18px;
            font-weight: 500;
            color: white;
        }  
        .name-input {
            color: black;
            font-size: 16px;
            width: 100%;           
        }              
    } 
    
    .bill-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 10px;

        .payment-info {
            display: flex;
            align-items: center;
            justify-content: center;

            label {
                color: white;
                margin-left: 10px;
                font-size: 14px;
            }

            #checkbox-paid {
                width: 20px;
                height: 20px;
                accent-color: var(--checkbox-paid);       
            }
            #checkbox-paid:checked {
                background-color: white;
            }

            .paid-notice {
                color: white;
                margin-left: 12px;
                font-size: 14px;
            }

            .paid-date-input {
                color: black;
                font-size: 14px;
                margin-left: 10px;           
            }

            .expired-notice {
                display: flex; 
                align-items: center;               
                color: var(--bill-date-unpaid);
                font-size: 14px;
                margin-left: 10px; 
                
                p {
                    margin-left: 8px;
                }
            }
        }

        .icons {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
            font-size: 14px;
            font-weight: 700;  
            
            .bill-edit {   
                color: white;                   
                margin-left: 4px; 
                
                &.bill-editing {
                    color: black;
                }
            }

            .delete {
                display: flex;
                align-items: center;

                &.disabled {
                    color: gray;
                }
                
                .bill-delete {                  
                    margin-left: 4px; 
                    
                    &.bill-editing :not(.disabled) {
                        color: black;
                    }

                    &.disabled {
                        color: gray;
                    }
                }
            }

            .save {
                display: flex;  
                align-items: center;
                margin-top: 8px;
                
                &.disabled {
                    color: gray;
                }

                .bill-save {                                       
                    margin-left: 4px; 
                    
                    &.bill-editing :not(.disabled) {
                        color: black;
                    }

                    &.disabled {
                        color: gray;
                    }
                }
            }
        }
    }            
} 