.bill-card {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 80vw;
    max-width: 500px;
    padding: 8px;
    border-radius: 8px;
    background-color: var(--card-not-paid);

    input {
        &:hover {
            background-color: var(--lightest);
        }
    }

    .lock {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        color: #fafafa;
        margin-bottom: 4px;

        &.bill-editing {
            color: #2e2e2e;
        }

        p {            
            font-size: 12px;
            padding-left: 6px;
        }
    }   

    &.bill-paid  {
        background-color: var(--card-paid);
    }

    &.bill-editing {
        background-color: #fafafa;
        box-shadow: 0px 1px 1px 2px rgba(#000000, 0.2);
    }

    .bill-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: fit-content;
        align-items: center;

        .bill-value {
            color: #fafafa;
            font-weight: 700;
            font-size: 22px;
            max-width: 200px;
        }
        .value-input {
            color: #2e2e2e;
            font-weight: 700;
            font-size: 18px;
            width: 100px;                   
        }

        .bill-date {
            font-size: 14px;  
            color: var(--bill-date-unpaid);                  

            &.date-paid {
                color: var(--bill-date-paid);
            }

            &.date-expired {
                color: var(--error-red);
            }
        }

        .editing-date {
            display: flex;
            align-items: center;

            label {
                color: #2e2e2e;
                padding-right: 10px;
            }
            .date-input {
                color: #2e2e2e;
                font-size: 14px;
                width: 120px;             
            }
        }
    }

    .bill-middle {
        margin-top: 4px;
        display: flex;
        height: fit-content;
        width: 100%;

        .bill-name {
            padding-top: 4px;
            font-size: 17px;
            font-weight: 500;
            color: #fafafa;
        }  
        .name-input {
            color: #2e2e2e;
            font-size: 16px;
            width: 100%;
            max-width: 200px;           
        }              
    } 
    
    .bill-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 10px;

        .payment-info {
            display: flex;
            align-items: center;
            justify-content: center;

            label {
                color: #fafafa;
                margin-left: 10px;
                font-size: 14px;
            }

            #checkbox-paid {
                width: 20px;
                height: 20px;
                accent-color: var(--checkbox-paid);   
                cursor: pointer;    
            }
            #checkbox-paid:checked {
                background-color: #fafafa;
            }

            .paid-notice {
                color: #fafafa;
                margin-left: 10px;
                font-size: 14px;
            }

            .paid-by {
                color: #fafafa;
                margin-left: 4px;
                font-size: 14px;
            }

            .paid-date-input {
                color: #2e2e2e;
                font-size: 14px;
                margin-left: 10px;           
            }

            .expired-notice {
                display: flex; 
                align-items: center;               
                color: var(--bill-date-unpaid);
                font-size: 14px;
                margin-left: 10px; 
                
                p {
                    margin-left: 8px;
                }
            }
        }

        .icons {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            font-size: 18px;
            font-weight: 700;  
            gap: 10px;
            cursor: pointer;
            
            .bill-edit {   
                color: #fafafa; 
                
                &.bill-editing {
                    color: #2e2e2e;
                }
            }

            .delete {
                display: flex;
                align-items: center;

                &.disabled {
                    color: gray;
                }
                
                .bill-delete {                    
                    &.bill-editing :not(.disabled) {
                        color: #2e2e2e;
                    }

                    &.disabled {
                        color: gray;
                    }
                }
            }

            .save {
                display: flex;  
                align-items: center;
                margin-top: 8px;
                
                &.disabled {
                    color: gray;
                }

                .bill-save {                    
                    &.bill-editing :not(.disabled) {
                        color: #2e2e2e;
                    }

                    &.disabled {
                        color: gray;
                    }
                }
            }
        }
    }            
} 