<div class="bill-card" [class.bill-paid]="billData.isPaid" [class.bill-editing]="billData.isEditing">
    <div class="bill-header">
        <div *ngIf="!billData.isEditing" class="bill-value">{{ formattedBillValue }}</div>
        <input *ngIf="billData.isEditing" type="number" class="value-input" [(ngModel)]="billData.billValue" placeholder="R$ 0,00">
        <div *ngIf="!billData.isEditing"
            class="bill-date"
            [class.date-paid]="billData.isPaid"            
            >Venc. {{ billData.billDate }}
        </div>
        <div class="editing-date" *ngIf="billData.isEditing">
            <label>Venc.</label>
            <input type="date" class="date-input" [(ngModel)]="billData.billDate">
        </div>
    </div>
    <div class="bill-middle">
        <div *ngIf="!billData.isEditing" class="bill-name">{{ billData.billName }}</div> 
        <input *ngIf="billData.isEditing" class="name-input" [(ngModel)]="billData.billName" placeholder="Nova conta" maxlength="24">
    </div>
    <div class="bill-bottom">
        <div class="payment-info">
            <input id="checkbox-paid" [disabled]="billData.isEditing" type="checkbox" [(ngModel)]="billData.isPaid" (click)="billPaid()">
            <label *ngIf="!billData.isEditing && !billData.isPaid">Tá pago!</label>
            <p class="paid-notice" *ngIf="!billData.isEditing && billData.isPaid"
            >Pago em {{ billData.billPaidDate }}</p>
            <p class="paid-by" *ngIf="billData.isPaid && !billData.isEditing">por {{ billData.paidBy }}</p>
            <div *ngIf="!billData.isEditing && billData.isExpired && !billData.isPaid" class="expired-notice">
                <mat-icon>access_time</mat-icon>
                <p>atraso</p>
            </div>
            <input *ngIf="billData.isEditing && billData.isPaid" type="date" class="paid-date-input" [(ngModel)]="billData.billPaidDate">
        </div>
        <div class="icons">
            <div *ngIf="!billData.isEditing">
                <mat-icon (click)="billEdit()" class="bill-edit">edit</mat-icon>
            </div> 
            <div class="delete" *ngIf="billData.isEditing" (click)="deleteBill()">
                
                <mat-icon [class.bill-editing]="billData.isEditing" class="bill-delete">delete_forever</mat-icon>
            </div>            
            <div class="save" [class.disabled]="billData.billValue <= 0" *ngIf="billData.isEditing" (click)="saveEdit(billData.id)">
                
                <mat-icon [class.bill-editing]="billData.isEditing" class="bill-save">save</mat-icon>
            </div>            
        </div>          
    </div>            
</div>
