<div class="bill-card" [class.bill-paid]="billData.isPaid" [class.bill-editing]="billData.isEditing">
    <div class="bill-header">
        <div *ngIf="!billData.isEditing" class="bill-value">R{{ billData.billValue | currency }}</div>
        <input *ngIf="billData.isEditing" type="number" class="value-input" [(ngModel)]="billData.billValue">

        <div *ngIf="!billData.isEditing" class="bill-date" [class.date-paid]="billData.isPaid">Venc. {{ billData.billDate }}</div>
        <input *ngIf="billData.isEditing" type="date" class="date-input" [(ngModel)]="billData.billDate">
    </div>
    <div class="bill-middle">
        <div *ngIf="!billData.isEditing" class="bill-name">{{ billData.billName }}</div> 
        <input *ngIf="billData.isEditing" class="name-input" [(ngModel)]="billData.billName">
    </div>
    <div class="bill-bottom">
        <div class="payment-info">
            <input id="checkbox-paid" type="checkbox" [(ngModel)]="billData.isPaid">
            <p class="paid-notice" *ngIf="billData.isPaid">Pago em {{ today }}</p>
        </div>
        <div class="icons">
            <div *ngIf="!billData.isEditing">
                <mat-icon (click)="billEdit()" class="bill-edit">edit</mat-icon>
            </div>   
            <mat-icon *ngIf="billData.isEditing" (click)="deleteBill()" class="bill-delete">delete_forever</mat-icon>
            <div *ngIf="billData.isEditing">
                <mat-icon (click)="saveEdit()" [class.bill-editing]="billData.isEditing" class="bill-edit">save</mat-icon>
            </div>            
        </div>          
    </div>            
</div>
