:root
{
    --darkest:  #ffd42a;
    --mid: #8C2F39;
    --lightest:  #ff7d8c;
    --background: #fdfcec;
    --button: #ffd42a;
    --button-hover: #20dfaf;

    --error-red: #a4031f;

    --bill-date-unpaid: #EECF6D;
    --bill-date-paid: #20dfaf;

    --checkbox-paid: #20dfaf;

    --card-paid: #04724D;
    --card-not-paid: #a12533;
}