:root
{
    --darkest:  #060f2d;
    --darkest:  #062d23;
    --lightest:  #63dfc0;
    --mid: #0d5946;
    --background: #a6f2df;
    --button: #1ab38c;
    --button-hover: #20dfaf;

    --error-red: #ff0000;

    --bill-date-unpaid: #ffea00;
    --bill-date-paid: #20dfaf;

    --checkbox-paid: #20dfaf;

    --card-paid: #1d6e5a;
    --card-not-paid: #6e1d1d;
}